*{
    border: none;
    padding: 0px;
    margin: 0px;

}


.grad {
<<<<<<< HEAD
    height: 700px;
    width: 500px;
=======
>>>>>>> 7197a973657681d0532ea2b0044b58a7754c3404
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(#F3D126,#8E0B0B); /* Standard syntax (must be last) */

}

.container{
    margin-left: auto;
    margin-right: auto;

}