<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="style.css">


</head>

<body class = "grad">
<div th:replace="fragments/menu :: menu"></div>
<div class="container">
    <h1>Film i MangoMax</h1>

    <table class="contenttable">
            <tr>
                <th>Film</th>
                <th>Dato</th>
                <th>Detaljer</th>
                <th>Reservér</th>
            </tr>
            <tr th:each="movie : ${movie_data}">
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.movieDate}"></td>
                <td><a th:href="${'/details?id=' + movie.movieId}">Detaljer</a></td>
                <td><a href="reserve-movies.html">Reservér plads</a></td>
                <!-- TODO: Detaljer skal gå efter movieID -->
            </tr>
    </table>
    </div>
</body>

</html>