<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>


</head>
<body>

    <h1>Film i MangoMax</h1>

    <table>

        <thead>
            <tr>
                <th>Film</th>
                <th>Dato</th>
                <th>Detaljer</th>
                <th>Reservér</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="movie : ${movie_data}">
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.movieDate}"></td>
                <td><a href="details.html">Detaljer</a></td>
                <td><a href="reserve-movies.html">Reservér plads</a></td>
                <!-- TODO: Detaljer skal gå efter movieID -->
            </tr>

        </tbody>


    </table>

</body>
</html>