<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body class="grad">

<h1>Detaljer</h1>
<p th:text="'Film: ' + ${movie.getMovieName()}"/>
<p th:text="'Beskrivelse: ' + ${movie.getMovieDescription()}"/>
<p th:text="'Filmen koster ' + ${movie.getMoviePrice()}"/>
<p th:text="'Filmen kræver at du er mindst  ' + ${movie.getovieAgeLimit()}"/>
<p th:text="'Filmen vises i sal ' + ${movie.getCinema.getCinemaName()}"/>

</body>
</html>