<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body class="grad">
<div th:replace="fragments/menu :: menu"></div>
<div class="container">
    <h1 th:text="${movie.getMovieName()}"></h1>

    <table class="contenttable">
        <tr>
            <td>Film: </td><td th:text="${movie.getMovieName()}"></td>
        </tr>
        <tr>
            <td>Beskrivelse: </td><td th:text="${movie.getMovieDescription()}"></td>
        </tr>
        <tr>
            <td>Pris: </td><td th:text="${movie.getMoviePrice() + ' kr.'}"></td>
        </tr>
        <tr>
            <td>Aldersgrænse: </td><td th:text="${movie.getMovieAgeLimit()}"></td>
        </tr>
        <tr>
            <td>Sal: </td><td th:text="${movie.getCinema().getCinemaName()}"></td>
        </tr>
        <tr>
            <td><a href="reserve-movies.html">Reservér plads</a></td>
            <!-- TODO: Detaljer skal gå efter movieID -->
        </tr>
    </table>
</div>
</body>
</html>