<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>reservér film</title>
    <link rel="stylesheet" href="style.css">


</head>
<body class="grad">
<div th:replace="fragments/menu :: menu"></div>
<div class="container">
    <h1>Reservér film</h1>
    <p th:text="'Du er ved at reservere til filmen ' + ${movie.getMovieName()}"/>
    <p th:text="'Dato: ' + ${movie.movieDate}"></p>
    <p th:text="'Pris pr. sæde: ' + ${movie.getMoviePrice()}"></p>

    <form action="/create-reservation-post" method="post">
        <input type="hidden" name="reservationId">
        <input type="number" id="amount" name="reservationAmount">
        <input type="hidden" name="reservationTotalPrice">
        <input type="hidden" name="movieDateId">
        <input type="hidden" name="userId">
        <input type="submit" value="reservér">
    </form>
</div>


</body>

</html>